__pycache__/
sim_build/
runs/
*.vvp
*.fst
*.a
*.o
*.elf
*.bin
*.hex

ice40hx8k.json
ice40hx8k.asc
ice40hx8k.bit
ice40hx8k-yosys.log

icebreaker.json
icebreaker.asc
icebreaker.bit
icebreaker-yosys.log

ulx3s.json
ulx3s.config
ulx3s.bit
ulx3s-yosys.log

